@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background: #35373b;
  border-radius: 6px;
}

::-webkit-scrollbar-track {
  background:#1D1E20;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: #1d1e20;
  color: #dadadb;
  width: 900px;
  margin: 0 auto;
  padding: 0 0;
}

@media screen and (max-width: 1024px) {
  body {
    width: 100%;
    padding: 0 2rem;
  }
  .none {
    display: none;
  }
}

a {
  text-decoration: none;
  color: #dadadb;
}

li {
  list-style: none;
}
